UBoat/boat/Debug/
UBoat/boat/Release/
UBoat/boat/x64/
UBoat/eseguibili/
**/.vs/
**/x64/

TesiLatex/pdfa.xmpi
TesiLatex/tesi-frn.aux
TesiLatex/tesi-frn.fdb_latexmk
TesiLatex/tesi-frn.fls
TesiLatex/tesi-frn.log
TesiLatex/tesi-frn.pdf
TesiLatex/tesi-frn.synctex.gz
TesiLatex/tesi-frn.tex
TesiLatex/tesi.bbl
TesiLatex/tesi.synctex.gz
TesiLatex/tesi.xmpdata
TesiLatex/tesi.run.xml
