UBoat/boat/Debug/
UBoat/boat/Release/
UBoat/boat/x64/
UBoat/eseguibili/
**/.vs/
**/x64/

TesiLatex/pdfa.xmpi
TesiLatex/tesi-frn.aux
TesiLatex/tesi-frn.fdb_latexmk
TesiLatex/tesi-frn.fls
TesiLatex/tesi-frn.log
TesiLatex/tesi-frn.pdf
TesiLatex/tesi-frn.synctex.gz
TesiLatex/tesi-frn.tex
TesiLatex/tesi.bbl
TesiLatex/tesi.synctex.gz
TesiLatex/tesi.xmpdata
TesiLatex/tesi.run.xml
TesiLatex/tesi.aux
TesiLatex/tesi.bcf
TesiLatex/tesi.fdb_latexmk
TesiLatex/tesi.fls
TesiLatex/tesi.log
TesiLatex/tesi.out
TesiLatex/tesi.toc
TesiLatex/tesi.synctex(busy)
SlidePresentazione/indent.log
SlidePresentazione/slides.aux
SlidePresentazione/slides.fdb_latexmk
SlidePresentazione/slides.fls
SlidePresentazione/slides.log
SlidePresentazione/slides.nav
SlidePresentazione/slides.out
SlidePresentazione/slides.snm
SlidePresentazione/slides.synctex.gz
SlidePresentazione/slides.toc
